# gradle

.gradle/
build/

# eclipse

bin/
eclipse/
.settings/
*.launch
.metadata
.classpath
.project

# idea

.idea/
out/
*.ipr
*.iws
*.iml

# vscode

.vscode/

# macos

.DS_Store

# forge

run/
libs/
logs/
